---
---

@import "{{ site.theme }}";
.gallery {
  width: 100%;
  column-count: 4;       /* number of columns */
  column-gap: 10px;      /* gap between columns */
}

.gallery img {
  width: 100%;           /* image fits column width */
  display: block;        /* removes small gaps under images */
  margin-bottom: 10px;   /* vertical spacing between images */
  object-fit: cover;     /* optional if you want to crop slightly */
}

@media (max-width: 1200px) {
  .gallery {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .gallery {
    column-count: 2;
  }
}
