---
---

@import "{{ site.theme }}";
#downloads {
  display: none !important;
}

.gallery {
  width: 100%;
  column-count: 4;       /* number of columns */
  column-gap: 10px;      /* gap between columns */
}

.gallery img {
  width: 100%;           /* image fits column width */
  display: block;        /* removes small gaps under images */
  margin-bottom: 10px;   /* vertical spacing between images */
  object-fit: cover;     /* optional if you want to crop slightly */
}

@media (max-width: 1200px) {
  .gallery {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .gallery {
    column-count: 2;
  }
}

.profile {
  display: flex; 
  align-items: center; /* align height at centre */
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.profile-pic {
  width: 100%;
  max-width: 500px;
  height: auto;
  flex-shrink: 0; /* this is supposed to keep the pic from shrinking 'prematurely' - test later how this works under different resolution settings */
  border-radius: 6px;
}

.profile-info {
  flex: 1;
}

/* response to screen width */

@media (max-width: 1200px) {
  .profile {
    gap: 1.25rem;
  }
}

@media (max-width: 800px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
